version: '3.7'

services:
  app:
    container_name: lara-min-app
    build: ./docker/app
    volumes:
    - ./server:/var/www

  nginx:
    image: nginx
    container_name: lara-min-nginx
    ports:
    - 8080:80
    volumes:
    - ./server:/var/www
    - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
    - app

  mysql:
    image: mysql:5.7
    container_name: lara-min-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: database
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      TZ: 'Asia/Tokyo'
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    volumes:
    - ./docker/db/data:/var/lib/mysql
    - ./docker/db/my.cnf:/etc/mysql/conf.d/my.cnf
    - ./docker/db/sql:/docker-entrypoint-initdb.d
    ports:
    - 3306:3306
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: lara-min-phpmyadmin
    ports:
      - 8888:80
    depends_on:
      - mysql